<h1>Meet my three beloved colors:</h1>
<colors-list>
	<color-block name="Plum" abbr="Pl" caption="Plum reflects faithfulness and royalty." subcaption="I'm so starving for this chrome. Simply because it is my official color."></color-block>
	<color-block name="Jaffa" abbr="Jf" caption="Jaffa adds some vibrant ingredients to life." subcaption="The nearly perfect complement to Plum. It is hot, it is trendy, but it looks time-worn."></color-block>
	<color-block name="Tradewind" abbr="Tw" caption="Tradewind symbolizes neutrality and objectivity." subcaption="It calms down all the nuts caused by human subjectivity and greediness."></color-block>
</colors-list>